<ion-view view-title="create" cache-view="false">

  <div class="bar bar-header">
       <div side="left">
      <button class="button button-icon button-clear ion-chevron-left" ng-click="myGoBack()" ></button>

       </div>
       <img src="img/otclogo.svg" width="35px">
      <button  class="button button-clear button-positive  header-text-font" ui-sref="root">OTC DEAL</button>
    </div>
  <ion-content>
   <div class="content padding has-header">
       <form name="RegistrationForm" ng-submit="registrationDetails(RegistrationDetails)" novalidate>
   <h3> REGISTER WITH US </h3>
     <div class="list">

     <label class="item item-input item-stacked-label min-margin"   ng-class="{'has-errors':RegistrationForm.UserName.$invalid && RegistrationForm.UserName.$touched}">
     <span class="input-label">Your Name</span>
     <input type="text" placeholder="User Name" ng-pattern ="/^[a-zA-Z\s]*$/" ng-model="RegistrationDetails.UserName" name="UserName" required>
     </label>

     <p class="message-error" ng-show="RegistrationForm.UserName.$error.required && RegistrationForm.UserName.$touched">user name is required</p>
     <p class="message-error" ng-show="RegistrationForm.UserName.$error.pattern && RegistrationForm.UserName.$touched">Please enter Alphabets </p>



     <label class="item item-input item-stacked-label"  ng-class="{'has-errors':RegistrationForm.LastName.$invalid && RegistrationForm.LastName.$touched}">
     <span class="input-label">Last Name</span>
     <input type="text" placeholder="Last Name" ng-pattern ="/^[a-zA-Z\s]*$/" ng-model="RegistrationDetails.LastName" name="LastName" required>
     </label>
      <p class="message-error" ng-show="RegistrationForm.LastName.$error.required && RegistrationForm.LastName.$touched">LastName is required</p>
      <p class="message-error" ng-show="RegistrationForm.LastName.$error.pattern && RegistrationForm.LastName.$touched">Please enter Alphabets </p>
     <label class="item item-input item-stacked-label" ng-class="{'has-errors':RegistrationForm.EmailId.$invalid && RegistrationForm.EmailId.$touched}">
     <span class="input-label">Email</span>
     <input type="email" placeholder="username@domain.com" ng-model="RegistrationDetails.EmailId" name="EmailId" required>
     </label>
     <p class="message-error" ng-show="RegistrationForm.EmailId.$error.required && RegistrationForm.EmailId.$touched">user name is required</p>
     <p class="message-error" ng-show="RegistrationForm.EmailId.$error.email  && RegistrationForm.EmailId.$touched">please enter valid email address</p>

     <label class="item item-input item-stacked-label" ng-class="{'has-errors': RegistrationForm.Password.$invalid && RegistrationForm.Password.$touched}">
    <span class="input-label">Password</span>
    <input type="{{inputType}}" placeholder="******" ng-minlength="6"  ng-model="RegistrationDetails.Password" name="Password" required>
  </label>
      <p class="message-error" ng-show="RegistrationForm.Password.$error.required && RegistrationForm.Password.$touched">password is required</p>
      <p class="message-error" ng-show="RegistrationForm.Password.$error.minlength && RegistrationForm.Password.$touched">Enter password as minimum 6 or more</p>
      <ion-checkbox    ng-click="hideShowPassword()" ng-model="filter.blue">Show Password</ion-checkbox>
   <p class="message-error">{{Useravailable}}</p>
</div>
  <button class="button button-block button-positive"  ng-disabled="RegistrationForm.$invalid">SIGNUP</button>
</form>
  <br>
  <div class="middle" ui-sref='singin'><a href="">Already have an account?</a></div>

  <p class="middle"> By creating an account,you agree to otcdeal</p>

</div>

  </ion-content>
  </ion-nav-view>
    </ion-pane>
</ion-view>
