<ion-view>
  <ion-content  lazy-scroll>

 <div class="list">


      <a class="item item-icon-left item-icon-right "  ng-click="accountinformation()">
          <i class="icon ion-person mainicon-color "></i>
          Account Information
          <i class="icon ion-ios-arrow-forward icon-color"></i>
        </a>
        <a class="item item-icon-left item-icon-right " ng-click="AddressBook()">
          <i class="icon ion-ios-book mainicon-color"></i>
          Address Book
          <i class="icon ion-ios-arrow-forward icon-color"></i>
        </a>
        
        <a class="item item-icon-left item-icon-right " ng-click="MyOrders()">
          <i class="icon ion-ios-cart mainicon-color"></i>
          My Orders
          <i class="icon ion-ios-arrow-forward icon-color"></i>
        </a>

      </div>

  </ion-content>
</ion-view>
